.container{
    border: 1px black solid;
    width: fit-content;
    height: fit-content;
    margin:auto;
    margin-top: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;

}

.selection-wrapper{
    margin-left: 30%;
    margin-right: 40%;
    margin-bottom: 20px;
}